@model Đồ_án_cơ_sở.Models.MonHoc

@{
    ViewBag.Title = "XoaMonHoc";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Xóa môn học</h2>

<h3>Bạn chắc chắn muốn xóa không?</h3>
<div>
    <h4>Môn học</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về trang chủ", "Index")
        </div>
    }
</div>
