@model Đồ_án_cơ_sở.Models.TaiKhoan

@{
    Layout = null;
}

<head>
    <link href="~/Css/Login.css" rel="stylesheet" />
</head>
<h3 class="text-danger">@ViewBag.ThongBao</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" name="tendangnhap" required="">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="matkhau" required="">
                <label>Password</label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dang Nhap" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>

}

